@font-face {
  font-family: "Proxima Nova";
  src: url("fonts/ProximaNova-Regular.woff2");
}

@font-face {
  font-family: "Proxima Nova";
  src: url("fonts/ProximaNova-SemiBold.woff2");
  font-weight: bold;
}

@font-face {
  font-family: "Bungee";
  src: url("fonts/Bungee-Regular.woff2");
}

@font-face {
  font-family: "Great Lakes";
  src: url("fonts/GreatLakesNF.woff2");
}

@mixin small {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin medium {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin large {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin largest {
  @media (min-width: 1200px) {
    @content;
  }
}

$cerise: #E9328B;
$cyan: #00D8FF;
$perano: #A3C8EF;
$white: #FFFFFF;
$classicRose: #FBC8F1;
$sunsetOrange: #ff4848;
$disco: #7D1C6B;
$jacksonsPurple: #23278A;
$luckyPoint: #15175B;
$sapphire: #34389C;
$proxima: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$bungee: 'Bungee', sans-serif;
$greatLakes: 'Great Lakes', sans-serif;
$georgia: Georgia, serif;

.switchWrapper {
  position: relative;
}

body {
  background: $cerise;
  font-family: $proxima;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
}

section {
  overflow: hidden;
  text-align: left;
}

.button {
  border: 2px solid $cyan;
  border-radius: 8px;
  font-family: $proxima;
  font-size: 18px;
  color: $cyan;
  padding: 10px 10px;
  text-decoration: none;
}

.error {
  .errorHero {
    background: url('images/404-image.png') no-repeat;
    background-size: cover;
    height:200px;
    @include medium {
      height:430px;
    }
    @include large {
      background-position:50% -162px;
      height:550px;
    }
  }
  .errorContent {
    color:$white;
    padding-top:2rem;
    padding-bottom:2rem;
    a {
      color: $cyan;
      text-decoration: none;
    }
    p {
      margin-left: 1rem;
      @include medium {
        margin-left: 3rem;
      }
      @include large {
        margin-left:5rem;
      }
    }
  }
}

.home {
  .homeHero {
    background: url('images/hero-home.jpg') no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    padding-top: 5.5rem;
    @include medium {
      padding-top: 8rem;
      min-height: 570px;
      padding-top: 12rem;
    }
    @include small {
      padding-bottom: 4rem;
    }
  }
  .buttonHome {
    margin-bottom: 20px;
    text-align: left;
    max-width: 300px;
    min-width: 300px;
    margin-left: 1rem;
    background: url('images/icon-about.svg') 94% 50% no-repeat;
    padding-right: 50px;
    @include medium {
      margin-top: 20px;
      margin-left: 0;
    }
  }
  .headlineFake {
    color: $white;
    font-size: 4.125rem;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    font-family: $bungee;
    line-height: 0.85;
    position: relative;
    @include small {
      text-align: center;
      display: block;
      width:300px;
      margin-left: auto;
      margin-right: auto;
    }
    @include medium {
      font-size: 6.125rem;
    }
    .headlineFakeManipulate {
      font-size: 8.5rem;
      display: block;
      @include medium {
        font-size: 12.5rem;
      }
    }
    &:before {
      content: '';
      display: block;
      background: url('images/squiggly-sharp.svg') no-repeat;
      position: absolute;
      width: 300px;
      height: 183px;
      top: -30px;
      left: -10px;
      @include small {
        width: 100px;
        background-size: contain;
        top: 0;
        left: -10px;
      }
    }
    &:after {
      content: '';
      display: block;
      background: url('images/squiggly-sharp.svg') no-repeat;
      position: absolute;
      width: 300px;
      height: 183px;
      bottom: -150px;
      right: 25px;
      @include small {
        width: 100px;
        background-size: contain;
        bottom: -170px;
        right: 0;
      }
    }
  }
  p {
    font-family: $proxima;
    font-size: 18px;
    color: $white;
    padding-bottom: 3rem;
    padding-top: 3rem;
    line-height: 1.4;
    margin-bottom: 0;
    @include small {
      padding: 1.5rem 1rem 2rem 1rem;
    }
  }
  .homeHeroContent {
    @include medium {
      margin-left: 3rem;
      width: 30rem;
    }
    @include large {
      margin-left: 5rem;
    }
  }
  .homeArticles {
    h1 {
      font-family: $greatLakes;
      font-size: 50px;
      color: $classicRose;
      text-shadow: 0 3px 4px rgba(95, 25, 150, 0.50);
      letter-spacing: 2px;
      margin-top: 1rem;
      margin-bottom: 0px;
      margin-left: 1rem;
      @include medium {
        margin-left: 3rem;
      }
      @include large {
        margin-left: 5rem;
      }
    }
    img {
      height: auto;
      max-width: 100%;
      vertical-align: middle;
    }
    background: #711961 url('images/bg-diagonal.svg');
    border-top:10px solid $disco;
    border-bottom:10px solid $disco;
    .cardButton {
      border: 1px solid $classicRose;
      border-radius: 8px;
      color: $classicRose;
      padding: 10px;
      background: transparent;
      text-align: left;
      background: url('images/icon-arrow.svg') 96% 50% no-repeat;
      display: block;
      width: 95%;
      text-decoration: none;
      cursor: pointer;
    }
    .cards {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: 0;
      padding: 0;
    }
    .cardsItem {
      display: flex;
      padding: 10px 1rem 2.5rem 1rem;
      @include small {
        width: 100%;
        padding-bottom: 1rem;
      }
      @include medium {
        width: 28.9%;
      }
      @include large {
        width: 29.9%;
      }
      @include largest {
        width: 30.5%;
      }
    }
    .card {
      background-color: $disco;
      border-radius: 10px;
      box-shadow: 0 20px 50px -14px rgba(63, 12, 54, 0.5);
      display: flex;
      flex-direction: column;
      overflow: hidden;
      color: $white;
    }
    .card:hover .cardImage {
      filter: contrast(100%);
      mix-blend-mode: unset;
    }
    .cardContent {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      padding: 1rem;
    }
    .cardImage {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
      overflow: hidden;
      position: relative;
      transition: all ease-in-out .5s;
      display: block;
      text-indent:-9999px;
      background-color: #23278a;  
      mix-blend-mode: lighten;
      -webkit-filter: grayscale(100%) contrast(1.2);
      filter: grayscale(100%) contrast(1);
      cursor: pointer;
    }
    .cardImage::before {
      content: "";
      display: block;
      padding-top: 56.25%;
      @include medium {
        padding-top: 66.6%;
      }
    }
    .cardImageCapitalOne {
      background-image: url('images/portfolio-thumb-capitalone.jpg');
    }
    .cardImageIcrossing {
      background-image: url('images/portfolio-thumb-icrossing.jpg');
    }
    .cardImageHawkeye {
      background-image: url('images/portfolio-thumb-hawkeye.jpg');
    }
    .cardTitle {
      color: $classicRose;
      font-size: 1.25rem;
      letter-spacing: 2px;
      text-transform: uppercase;
      a {
        color: $classicRose;
        text-decoration: none;
      }
    }
    .cardText {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      font-size: 0.85rem;
      line-height: 1.5;
      padding-top:0;
      padding-bottom: 1.5rem;
    }
  }
}

.project {
  .projectContainer {
    margin-top:8rem;
    background: #711961 url('images/bg-diagonal.svg');
    margin-bottom:2rem;
  }
  .flexboxContainer {
    display: flex;
    padding-bottom: 4rem;
    @include medium {
      width: 90%;
    }
    @include large {
      width: 70%;
    }
  }
  .projectContent {
    p {
      color:$white;
      margin-left: 1rem;
      line-height: 1.4;
      @include medium {
        margin-left: 3rem;
      }
      @include large {
        margin-left: 5rem;
      }
    }

    h1 {
      font-family: $greatLakes;
      font-size: 50px;
      color: $classicRose;
      text-shadow: 0 3px 4px rgba(95, 25, 150, 0.50);
      letter-spacing: 2px;
      margin-top: 2rem;
      margin-bottom: 0px;
      margin-left: 1rem;
      line-height: 1.3;
      @include medium {
        margin-left: 3rem;
      }
      @include large {
        margin-left: 5rem;
      }
    }

    h2 {
      color: $classicRose;
      margin-top:4rem;
      margin-bottom:2rem;
      margin-left: 1rem;
      line-height: 1.3;
      @include medium {
        margin-left: 3rem;
      }
      @include large {
        margin-left: 5rem;
      }
    }

    img {
      max-width:900px;
      display: block;
      margin-top:2rem;
      box-shadow: 0 20px 50px -14px rgba(63, 12, 54, 0.8);
      border-top: 2px solid $cerise;
      border-right: 2px solid $cerise;
      border-bottom: 2px solid $cerise;
      @include small {
        width:100%;
      }
      @include medium {
        max-width:600px;
      }
      @include large() {
        max-width:800px;
      }
      @include largest {
        max-width:1000px;
      }
    }
  }
}

.about {
  .aboutHero {
    background: url('images/hero-about.jpg') no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    padding-top: 7rem;
    @include medium {
      padding-top: 36rem;
    }
    blockquote {
      border: 0;
      padding: 0;
      color: #cccccc;
      font-size: 2rem;
      font-style: italic;
      line-height: 1.4;
      margin: 0;
      position: relative;
      z-index: 600;
      * {
        box-sizing: border-box; 
      }
      p {
        margin-top:2.7rem;
        margin-bottom:2.7rem;
        &:first-child:before {
          content: '\201C';
          font-family: $georgia;
          color: #81bedb;
          font-size: 10rem;
          font-weight: 700;
          opacity: .3;
          position: absolute;
          top: -.3em;
          left: 0;    
          text-shadow: none;
          z-index: -300;
        }
      }
    }
    .headlineFake {
      text-align: center;
      color: $white;
      font-size: 60px;
      text-transform: uppercase;
      margin-top: 0;
      font-family: $bungee;
      line-height: 0.85;
      margin-bottom: 0;
      position: relative;
      .headlineFakeManipulate0 {
        font-size: 20px;
        display: block;
      }
      .headlineFakeManipulate1 {
        font-size: 30px;
        display: block;
      }
      .headlineFakeManipulate2 {
        font-size: 50px;
        display: block;
      }
      @include medium {
        font-size: 150px;
        .headlineFakeManipulate0 {
          font-size: 90px;
          display: block;
        }
        .headlineFakeManipulate1 {
          font-size: 110px;
          display: block;
        }
        .headlineFakeManipulate2 {
          font-size: 130px;
          display: block;
        }
        @include large {
          font-size: 210px;
          .headlineFakeManipulate0 {
            font-size: 120px;
            display: block;
          }
          .headlineFakeManipulate1 {
            font-size: 160px;
            display: block;
          }
          .headlineFakeManipulate2 {
            font-size: 200px;
            display: block;
          }
        }
      }
      @include largest {
        font-size: 240px;
      }
    }
    .aboutHeroContent {
      background: rgba($color: $jacksonsPurple, $alpha: 0.8);
      color: $white;
      font-size: 18px;
      line-height: 1.4;
      margin-top: 3rem;
      @include medium  {
        margin-top: 5rem;
      }
      .flexboxContainer {
        display: flex;
        width: 100%;
        padding-bottom: 4rem;
        @include small {
          flex-direction: column;
        }
      }
      .main {
        order: 1;
        flex: 2;
        a {
          color: $perano;
          text-decoration: none;
          font-weight: bold;
        }
        .flexTableContainer {
          padding: 1em;
          margin-top:2.7rem;
          margin-bottom:2.7rem;
          @include large {
            display: flex;
          }
        }
        .flexItem {
          flex: 1;
          width: 0;
          width: 100%;
          @include large {
            width: auto;
          }
        }
        .flexItem:not(:last-child) {
          margin-right: 1em;
        }
        .package {
          border: 1px solid $sapphire;
          list-style-type: none;
          margin: 0;
          padding: 0;
          transition: 0.25s;
          box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
        }
        .package .header {
          background-color: $luckyPoint;
          color: #fff;
          font-size: 1.4rem;
          font-weight: bold;
          text-transform: uppercase;
        }
        .package li {
          border-bottom: 1px solid $sapphire;
          padding: 1rem;
          text-align: center;
        }
      }
      .sidebar {
        order: 2;
        flex: 1;
        @include large {
          flex: 1;
        }
        ul {
          margin-top: 1rem;
          @include medium {
            margin-left: 0;
            padding-left: 0;
          }
        }
        li {
          list-style: none;
          display: block;
        }
      }
      h1 {
        font-family: $greatLakes;
        font-size: 50px;
        color: $classicRose;
        text-shadow: 0 3px 4px rgba(95, 25, 150, 0.50);
        letter-spacing: 2px;
        margin-top: 0;
        margin-bottom: 0px;
        margin-left: 1rem;
        text-align: left;
        padding-top: 1rem;
        @include medium {
          padding-top: 2rem;
          margin-left: 5rem;
        }
      }
      p {
        margin-left: 1rem;
        margin-right: 1rem;
        @include medium {
          margin-left: 5rem;
          margin-right: 3rem;
        }
      }
      ul {
        margin-bottom: 0;
        margin-left: 0;
        @include small {
          padding-left: 0;
        }
        @include medium {
          margin-left: 5rem;
        }
      }
      .aboutLink {
        border: 2px solid $cyan;
        border-radius: 8px;
        font-family: $proxima;
        font-size: 18px;
        color: $cyan;
        padding: 10px 10px;
        text-decoration: none;
        margin-bottom: 20px;
        text-align: left;
        margin-left: 1rem;
        padding-right: 50px;
        display: block;
        margin-right: 3rem;
        &.aboutLinkResume {
          background: url('images/icon-resume.svg') 94% 50% no-repeat;
        }
        &.aboutLinkLinkedin {
          background: url('images/icon-linkedin.svg') 94% 50% no-repeat;
        }
        &.aboutLinkInstagram {
          background: url('images/icon-instagram.svg') 94% 50% no-repeat;
        }
        @include medium {
          margin-top: 20px;
          margin-left: 0;
        }
        @include large {
          max-width: 200px;
          min-width: 200px;
        }
      }
    }
    .profilePic {
      max-width:260px;
      clip-path: circle(125px at 50% 50%);
      @include small {
        margin-top:2rem;
        margin-left:1rem;
      }
      @include medium {
        margin-top:3rem;
      }
    }
  }
}

.contact {
  .contactHero {
    background: url('images/hero-contact.jpg') no-repeat;
    background-size: cover;
    padding-top: 6rem;
    @include medium {
      padding-top: 8rem;
      padding-top: 10rem;
    }
    .flexboxContainer {
      display: flex;
      width: 100%;
      padding-bottom:0;
      @include small {
        flex-direction: column;
      }
      @include medium {
        padding-bottom: 4rem;
      }
    }
    .sidebar {
      order: 1;
      flex: 1;
      padding: .5rem;
      .headlineFake {
        text-align: center;
        color: $white;
        font-size: 15px;
        text-transform: uppercase;
        margin-top: 0;
        font-family: $bungee;
        line-height: 0.85;
        margin: 0 auto;
        position: relative;
        display: block;
        padding-top: 0;
        padding-bottom: 3rem;
        span {
          display: block;
          font-size: 70px;
          @include medium {
            font-size: 75px;
          }
          @include large {
            font-size: 110px;
          }
          @include largest {
            font-size: 120px;
          }
        }
        @include medium {
          font-size: 33px;
          padding-top: 5rem;
          padding-bottom: 0;
          width: 90%;
        }
        @include large {
          font-size: 30px;
        }
      }
    }
    .main {
      order: 2;
      flex: 1;
      background: rgba($color: $jacksonsPurple, $alpha: 0.8);
      color: $white;
      h1 {
        font-family: $greatLakes;
        font-size: 50px;
        color: $classicRose;
        text-shadow: 0 3px 4px rgba(95, 25, 150, 0.50);
        letter-spacing: 2px;
        margin-top: 0;
        margin-bottom: 0px;
        margin-left: 1rem;
        text-align: left;
        padding-top: 1rem;
        @include medium {
          margin-left: 1.5rem;
        }
      }
    }
    a {
      color: $perano;
      text-decoration: none;
      font-weight: bold;
    }
    form {
      margin-top: 1.5rem;
      margin-left: 1rem;
      margin-bottom: 1.5rem;
      font-size: 18px;
      @include small {
        margin-right: 1rem;
      }
      @include large {
        width: 70%;
      }
    }
    input {
      display: block;
    }
    legend {
      margin-bottom: 20px;
      line-height: 1.4;
      @include medium  {
        margin-right:0.5rem;
      }
      @include large  {
        margin-right:0;
      }
    }
    input[type=email] {
      background: #1C1F6B;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      color: $white;
      padding: 10px 10px;
      font-size: 18px;
      border-bottom: 5px solid $classicRose;
      margin-bottom: 5px;
      @include small {
        width:95%;
      }
      @include medium {
        width: 90%;
      }
      @include large {
        width: 100%;
      }
      &:focus {
        border-bottom: 5px solid $perano;
      }
    }
    input[type=submit] {
      background: transparent;
      border: 2px solid #31FF3D;
      border-radius: 8px;
      font-size: 18px;
      color: #31FF3D;
      min-width: 200px;
      text-align: left;
      padding: 10px;
      background: url('images/icon-email.svg') 92% 50% no-repeat;
      &:disabled {
        border: 2px solid #1f9a26;
        color: #1f9a26;
        background: transparent;
      }
    }
    textarea {
      resize: none;
      background: #1C1F6B;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      color: $white;
      padding: 10px 10px;
      font-size: 18px;
      border-bottom: 5px solid $classicRose;
      margin-bottom: 0;
      height: 100px;
      @include small {
        width: 95%;
      }
      @include medium {
        width: 90%;
      }
      @include large {
        width: 100%;
      }
      &:focus {
        border-bottom: 5px solid $perano;
      }
    }
    .error {
      color: $sunsetOrange;
    }
    label {
      display: block;
      margin-bottom: 30px;
      font-size: 16px;
    }
  }
}

header {
  background: rgba($color: #9E0581, $alpha: 0.8);
  display: flex;
  align-items: center;
  width: 100%;
  position: absolute;
  justify-content: space-between;
  top: 0;
  z-index: 1;
  h1 {
    display: block;
    order: 1;
    flex: 1;
    margin-left: 1rem;
    font-size: initial;
    img {
      width: 60px;
      height: 100%;
      @include medium {
        width: 120px;
      }
    }
  }
  nav {
    ul {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;
    }
    li {
      flex: 1;
      a {
        font-family: $proxima;
        font-weight: bold;
        font-size: 15px;
        color: $white;
        text-decoration: none;
        text-transform: uppercase;
        position: relative;
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
        display: block;
        text-align: center;
        @include small {
        margin-right:2rem;
        }
        @include medium {
          font-size: 25px;
          margin-right:2rem;
        }
        @include large {
          margin-right:0;
        }
        &.is-active {
          color: $perano;
          background: url('images/bg-nav.svg') no-repeat;
          background-size: contain;
          background-position: 50% 50%;
        }
      }
    }
  }
  .navContainer {
    order: 2;
    flex: 1;
  }
}

footer {
  background: url('images/bg-footer.png') repeat-x;
  padding-top: 130px;
  padding-bottom: 40px;
  font-family: $proxima;
  font-size: 14px;
  color: $cerise;
  text-align: center;
  a {
    color: $cerise;
  }
}